 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
	height: 100vh;
	background: linear-gradient(rgba(0,212,255,1), rgba(48,48,203,1));
	max-height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 3em;
	color: white;
}

#date {
	font-size: 2em;
}

#sterren {
	position: absolute;
	width: 100%;

}

#containerzon {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 355px;
	width: 355px;
	animation: animatie;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes animatie {
    0% {top: -100px;}
    100% {top: 300px;}
}

#zon{
	height: 350px;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
    animation: beweging;
    animation-delay: 4s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes beweging {
	0% {top: 295px;}
	50% {top: 350px;}
    100% {top: 295px;}
}

#containeraarde {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 250px;
	width: 518px;
	overflow: hidden;
	bottom: -140px;
}

#aardedag {
	position: relative;
	height: 500px;
	bottom: 0px;
	animation: draaien 60s infinite linear;
}

@keyframes draaien {
	 from {
	 transform: rotate(0deg);
	 }
	 to {
	 transform: rotate(359deg);
	 }